# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite build / cache
frontend/vite/deps/
frontend/node_modules/
frontend/dist/

# Docker
*.dockerignore

# Tests outputs
.coverage
htmlcov/
*.egg-info/

# Pytest
.pytest_cache/

# Environment variables
.env
.env.local
.env.*.local

# JetBrains IDEs
.idea/

# Others
*.sqlite3
